<template>
    <v-app id="inspire">
    <v-content>
        <v-container
        class="fill-height"
        fluid
        >
        <v-row
            align="center"
            justify="center"
        >
            <v-col
                cols="12"
                sm="8"
                md="4"
            >
            <v-card class="elevation-12">
                <v-toolbar
                    color="primary"
                    dark
                    flat
                >
                <v-toolbar-title>Register</v-toolbar-title>
                </v-toolbar>
            <v-card-text>
                <v-form>
                    <v-text-field
                        label="Username"
                        v-model="username"
                        prepend-icon="person"
                        type="text"
                        :rules="usernameRules"
                        required
                    ></v-text-field>

                    <v-text-field
                        label="Password"
                        v-model="password"
                        prepend-icon="lock"
                        type="password"
                        :rules="passwordRules"
                        required
                    ></v-text-field>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" link to="/admin/dashbord">Login</v-btn>
                <v-btn color="success" link to="/admin/register">Register</v-btn>
            </v-card-actions>
            </v-card>
            </v-col>
        </v-row>
    </v-container>
    </v-content>
    </v-app>
</template>
 
<script>
export default {
    props: {
        source: String
    },
    data: () => ({
        drawer: null,
        snackbar:false,
        valid: true,
        username: "",
        usernameRules: [
            v => !!v || "Username is required",
        ],
        password: "",
        passwordRules: [
            v => !!v || "Password is required",
            // v => (v & amp; &amp; v.length >= 6) || "Password must be larger than 6 characters"
        ],
        result:null,
        error_message:""
    }),
    // methods: {
    //     reset() {
    //         this.$refs.form.reset();
    //     },
    //     doLogin() {
    //         const axios = require('axios');
    //         axios.post("http://localhost:8000/api/login", {
    //             email:this.email,
    //             password:this.password,
    //         })
    //         .then(response => {
    //             this.result = response.data;
    //             if(this.result.token){
    //                 axios.get("http://localhost:8000/api/user", {
    //                     headers: {
    //                         Authorization: 'Bearer ' + this.result.token,
    //                     }
    //                 })
    //                 .then(response => {
    //                     this.result = response.data;
    //                     if(this.result.user){
    //                         this.$store.state.user=this.result.user;
    //                         this.$store.state.isLogin=true;
    //                         this.$store.state.jwt_token=this.result.token;
    //                         this.$router.push({ name: "Profile" });
    //                     }else{
    //                         this.error_message=response.data.status;
    //                         this.snackbar=true;
    //                     }
    //                 })
    //             }
    //         })
    //         .catch(e => {   
    //             if (e.response &amp;&amp; e.response.status === 400) {
    //                 this.error_message=e.response.data.error;
    //                 this.snackbar=true;
    //             }
    //         });
    //     }
    // },
};
</script>