<template>
    <v-app id="inspire">
    <v-content>
        <v-container
        class="fill-height"
        fluid
        >
        <v-row
            align="center"
            justify="center"
        >
            <v-col
                cols="12"
                sm="8"
                md="4"
            >
            <v-card class="elevation-12">
                <v-toolbar
                    color="primary"
                    dark
                    flat
                >
                <v-toolbar-title>Register</v-toolbar-title>
                </v-toolbar>
            <v-card-text>
                <v-form>
                    <v-text-field
                        label="Username"
                        v-model="username"
                        prepend-icon="person"
                        type="text"
                        :rules="emailRules"
                        required
                    ></v-text-field>

                    <v-text-field
                        label="Password"
                        v-model="password"
                        prepend-icon="lock"
                        type="password"
                        :rules="passwordRules"
                        required
                    ></v-text-field>

                    <v-select
                        v-model="kelas"
                        :items="items"
                        :rules="[v => !!v || 'Item is required']"
                        label="Mata Kuliah"
                        prepend-icon="book"
                        required
                        ></v-select>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" link to="/login">Login</v-btn>
                <v-btn color="primary" link to="/admin/register">Register</v-btn>
            </v-card-actions>
            </v-card>
            </v-col>
        </v-row>
        </v-container>
    </v-content>
    </v-app>
</template>

<script>
    export default {
        props: {
        source: String,
        },

        data: () => ({
        valid: true,
        username: '',
        // emailRules: [
        //     v => !!v || 'E-mail is required',
        //     v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
        // ],
        password: '',
        kelas: null,
        items: [
            'Item 1',
            'Item 2',
            'Item 3',
            'Item 4',
        ],
        checkbox: false,
        }),
    }
</script>