<template>

    <NavBarUser/>
</template>

<script>
// @ is an alias to /src
import NavBarUser from '../components/navbar/NavBarUser.vue'

export default {
  name: 'Home',
  components: {
    NavBarUser
  }
}
</script>
