<template>
  <div class="HomeAdmin ">
    <!-- Head --> 
    <template>
      <v-app-bar color="blue darken-2" dark>
        <v-toolbar-title>
            <v-avatar >
                <img
                    src="../assets/akakom.png"
                    alt="John"
                >
            </v-avatar>
            STMIK AKAKOM YOGYAKARTA
        </v-toolbar-title>
        <v-spacer></v-spacer>
          <v-text-field
              v-model="search"
              class="mx-4"
              flat
              hide-details
              append-icon="search"
              solo-inverted
          ></v-text-field>
        </v-app-bar>
    </template>
    <!-- container --> 
    <v-container>
    <br>
      <v-toolbar flat color="white">
        <template v-if="displayNilai == true">
          <downloadexcel
            class   = "btn btn-default"
            :data   = "nilais.data"
            :fields = "json_fields"
            worksheet = "Laporan perhari"
            name    = "reportByDay.xls"> Download <v-icon>mdi-download</v-icon>
          </downloadexcel>
          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>
        </template>
          <v-select
          v-model="kodeFil"
          :items="kodeList"
          label="Matakuliah"
          hide-details
        ></v-select>
        <v-card-title></v-card-title>
          <v-select
          v-model="kelasFil"
          :items="kelasList"
          label="Kelas"
          hide-details
        ></v-select>
        <v-divider
            class="mx-4"
            inset
            vertical
        ></v-divider>
        <div class="my-2">
            <v-menu offset-y>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn color="primary" dark class="mb-2" v-on="on" v-bind="attrs">
                    <v-icon>mdi-file-search-outline</v-icon>Laporan
                    <span v-if="displayNilai == true">PER HARI</span>
                    <span v-if="displayReport == true">PER MAHASISWA</span>
                  </v-btn>
                </template>
                <v-list>
                    <v-list-item  @click="getNilaiByMatkul()">PER HARI</v-list-item>
                    <v-list-item  @click="getReport()">PER MAHASISWA</v-list-item>
                </v-list>
            </v-menu>
        </div>
      </v-toolbar>
        
    <!-- TABLE DATA -->    
    <v-data-table
      :headers="headersNilai"
      :items="nilais.data"
      :search="search"
      class="elevation-1"
      v-if="displayNilai == true"
    >
      <template v-slot:items="props">
          <td style="display:none;" >{{ props.item.id }}</td>
          <td class="text-xs-left">{{ props.item.matkul.mahasiswa.nama }}</td>
          <td class="text-xs-left">{{ props.item.matkul.nama_matkul }}</td>
          <td class="text-xs-left">{{ props.item.semester }}</td>
          <td class="text-xs-left">{{ props.item.thn_akademik }}</td>
          <td class="text-xs-left">{{ props.item.pertemuan }}</td>
          <td class="text-xs-left">{{ props.item.pretest }}</td>
          <td class="text-xs-left">{{ props.item.laporan }}</td>
          <td class="text-xs-left">{{ props.item.nilai_total }}</td>
      </template>
    </v-data-table>
    
    <v-data-table
    :headers="headersReport"
    :items="datas.data"
    :search="search"
    :single-expand="true"
    :expanded.sync="expanded"
    item-key="id"
    show-expand
    class="elevation-1"
    v-if="displayReport == true"
    >
    <template v-slot:expanded-item="{ headers, item }">
      <td :colspan="headers.length">
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th>No.</th>
                <th>Pertemuan</th>
                <th>Semseter</th>
                <th>Tahun Akademik</th>
                <th>Nilai Pretest</th>
                <th>Nilai Laporan</th>
                <th>Nilai Total</th>
              </tr>
            </thead>
            <tbody>
            <tr v-for="(items, index) in item.nilai" :key="index" :style="{backgroundColor: (items.nilai_total < 60 ? '#FA7777' : 'transparent' ) }">
                <td class="text-xs-right">{{ index+1 }}</td>
                <td class="text-xs-center">{{ items.pertemuan }}</td>
                <td class="text-xs-center">{{ items.semester }}</td>
                <td class="text-xs-center">{{ items.thn_akademik }}</td>
                <td class="text-xs-center">{{ items.pretest }}</td>
                <td class="text-xs-center">{{ items.laporan }}</td>
                <td class="text-xs-center">{{ items.nilai_total }}</td>
              </tr>
              <tr class="pink--text">
                <th class="title" :colspan="6">Rerata Nilai Praktikum</th>
                <th class="title">{{ rerata(item) }}</th>
              </tr>
              <td :colspan="7" class="text-right">
                <p class="text-right text--secondary">
                  *Kolom Warna Merah Berarti Nilai Kurang Dari KKM.
                </p>    
              </td>
            </tbody>
          </template>
        </v-simple-table>
      </td>
    </template>
    </v-data-table>
    <template v-if="displayNilai == false && displayReport == false" >
      <v-alert
        dense
        outlined
        type="error"
      >Silahkan Pilih <strong>Matakuliah</strong> dan <strong>Kelas</strong> Yang Anda Ambil
      </v-alert>
    </template>
    </v-container>
  </div>
</template>
<script>
// @ is an alias to /src
import axios from 'axios'
import Cookies from 'js-cookie'
import downloadexcel from 'vue-json-excel'
// const basedurl = 'http://localhost:8000'
const basedurl = 'https://backend.ojocekel.com'

export default {
  name: 'HomeAdmin',
  components: {
    downloadexcel,
  },
  data: () => ({
      search:'',
      displayNilai: false,
      displayReport: false,
      user : '',
      edit: true,
      dialogEdit: false,
      dialogAdd: false,
      headersNilai: [
        { text: 'NIM', value: 'matkul.mahasiswa.nim',sortable: true},
        { text: 'Mahasiswa', value: 'matkul.mahasiswa.nama',sortable: true},
        { text: 'Matkul', value: 'matkul.nama_matkul',sortable: true},
        { text: 'Kelas', value: 'matkul.kelas',sortable: true},
        { text: 'Semester', value: 'semester'},
        { text: 'Tahun Akademik', value: 'thn_akademik'},
        { text: 'Pertemuan', value: 'pertemuan'},
        { text: 'Pretest', value: 'pretest'},
        { text: 'Laporan', value: 'laporan'},
        { text: 'Nilai', value: 'nilai_total' },
      ],
      headersReport: [
        { text: "NIM", value: "mahasiswa.nim"},
        { text: "Nama", value: "mahasiswa.nama"},
        { text: "Mata Kuliah", value: "nama_matkul"},
        { text: "Kelas", value: "kelas"},
        { text: "Semester", value: "semester"},
      ],
      json_fields:{
        'NIM': 'matkul.mahasiswa.nim',
        'Nama': 'matkul.mahasiswa.nama',
        'Mata Kuliah': 'matkul.nama_matkul',
        'Kelas': 'matkul.kelas',
        'Semester': 'semester',
        'Tahun Akademik': 'thn_akademik',
        'Pertemuan': 'pertemuan',
        'Pretest': 'pretest',
        'Laporan': 'laporan',
        'Nilai Total': 'nilai_total',
      },
      datas: [],
      nilai: [],
      nilais: [],
      expanded: [],
      mahasiswas: [],
      matkuls: [],
      listMH: [],
      listMK: [],
      mk: [],
      listKLS: [],
      kelasList: [],
      kodeList: [],
      listNAMA: [],
      kelas:"",
      kode:"",
      mahasiswa: "",
      matkul: "",
      kelasFil: "",
      kodeFil: "",
    }),

    computed: {
    },

    watch: {
    },

    created () {
      this.getMatkul();
      this.getMahasiswa();
    },

    methods: {
      async getNilai () {
        const response = await axios.get(basedurl + '/nilai/get-nilai')
        this.nilais = response.data;
        this.displayNilai = true;
        this.displayReport = false;
      },

      async getReport () {
        this.matkuls.forEach((kodeFil) => {
          if(this.kodeFil == kodeFil.kd_matkul+ '-' +kodeFil.nama_matkul){
            this.kodeFil = kodeFil.kd_matkul;
          }
        });
        try{
          let res = await axios.get(basedurl + '/matkul/get-nilai/kode/' +this.kodeFil+ '/kelas/' +this.kelasFil);
          this.datas = res.data
          for(const iterator of res.data.data){
            this.nilai = iterator.nilai
          }
          this.displayReport = true;
          this.displayNilai = false;
          this.kelasFil = ''
          this.kodeFil = ''
        } catch (err){
          if (err.response.status === 404){
            alert("Anda Belum Memilih Matakuliah atau Kelas");
          }
        }
      },

      async getMatkul(){
        const mk = await axios.get(basedurl +'/matkul/get-matkul')
        this.matkuls = mk.data;

        this.matkuls.forEach((kode) => {
          this.listNAMA.push(kode.kd_matkul+ '-' +kode.nama_matkul);
        });

        this.matkuls.forEach((kodeFil) => {
          this.kodeList.push(kodeFil.kd_matkul+ '-' +kodeFil.nama_matkul);
        });

        this.matkuls.forEach((kelasFil) => {
          this.kelasList.push(kelasFil.kelas);
        });

        this.matkuls.forEach((kelas) => {
          this.listKLS.push(kelas.kelas);
        });
      },

      async getMahasiswa(){
        const mhs = await axios.get(basedurl +'/mahasiswa/get-mahasiswa')
        this.mahasiswas = mhs.data;

        this.mahasiswas.forEach((mahasiswa) => {
          this.listMH.push(mahasiswa.nama);
        });
      },

      async getNilaiByMatkul () {
        this.matkuls.forEach((kodeFil) => {
          if(this.kodeFil == kodeFil.kd_matkul+ '-' +kodeFil.nama_matkul){
            this.kodeFil = kodeFil.kd_matkul;
          }
        });
        try{
          const nilai = await axios.get(basedurl + '/nilai/get-nilai/kode/' +this.kodeFil+ '/kelas/' +this.kelasFil)
          this.nilais = nilai.data;
          this.displayNilai = true;
          this.displayReport = false;
          this.kelasFil = ''
          this.kodeFil = ''
        } catch (err){
          if(err.response.status === 404){
            alert("Anda Belum Memilih Matakuliah atau Kelas");
          }
        }
      },

      rerata(item) {
        var itemsTotal = 0;
        var subItems = item.nilai
        var subItemsTotal = 0;
        for(var key in subItems){
          var subItem = subItems[key];
          subItemsTotal = subItemsTotal + (subItem.nilai_total) / 14;
        }
        itemsTotal += subItemsTotal;
        return itemsTotal.toFixed(3);
      },
      
      logout() {
            Cookies.remove('token')
            Cookies.remove('user')
            this.$router.push('/admin/login')
        }
    },
}
</script>
