<template>
  <div class="HomeAdmin ">
    <!-- Head --> 
    <template>
      <v-app-bar color="blue darken-2" dark>
        <v-toolbar-title>
            <v-avatar >
                <img
                    src="../assets/akakom.png"
                    alt="John"
                >
            </v-avatar>
            STMIK AKAKOM YOGYAKARTA
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <div class="my-2">
          <v-text-field
              v-model="search"
              class="mx-4"
              flat
              hide-details
              append-icon="search"
              solo-inverted
          ></v-text-field>
        </div>
        <div class="my-2">
            <v-menu offset-y>
                <template v-slot:activator="{ on, attrs }">
                    <v-icon x-large v-on="on" v-bind="attrs">mdi-account-circle</v-icon>
                </template>
                <v-list>
                    <v-list-item>
                        <v-btn text @click="logout()">
                            <v-icon>mdi-logout</v-icon>Logout
                        </v-btn>
                    </v-list-item>
                </v-list>
            </v-menu>
        </div>
        </v-app-bar>
    </template>
    <!-- container --> 
    <v-container>
    <br>
      <v-toolbar flat color="white">
        <v-btn color="primary" dark class="mb-2"  @click="dialogAdd=true">
          Tambah Nilai<v-icon>mdi-plus</v-icon>
        </v-btn>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
          <v-select
          v-model="kodeFil"
          :items="kodeList"
          label="Matakuliah"
          hide-details
        ></v-select>
        <v-card-title></v-card-title>
          <v-select
          v-model="kelasFil"
          :items="kelasList"
          label="Kelas"
          hide-details
        ></v-select>
        <v-divider
            class="mx-4"
            inset
            vertical
        ></v-divider>
        <div class="my-2">
            <v-menu offset-y>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn color="primary" dark class="mb-2" v-on="on" v-bind="attrs">
                    <v-icon>mdi-file-search-outline</v-icon>Laporan
                    <span v-if="displayNilai == true">PER HARI</span>
                    <span v-if="displayReport == true">PER MAHASISWA</span>
                  </v-btn>
                </template>
                <v-list>
                    <v-list-item  @click="getNilaiByMatkul()">PER HARI</v-list-item>
                    <v-list-item  @click="getReport()">PER MAHASISWA</v-list-item>
                </v-list>
            </v-menu>
        </div>
        <!-- new item -->
        <v-dialog v-model="dialogAdd" max-width="800px">
          <template v-slot:activator="{ on }" v-on="on">
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                    <v-col cols="2">
                      <v-select
                        v-model="kode"
                        :items="listNAMA"
                        label="Pilih Matkul"
                        ref="kode"
                      ></v-select>
                    </v-col>
                    <v-col cols="2">
                      <v-select
                        v-model="kelas"
                        :items="listKLS"
                        label="Pilih Kelas"
                        ref="kelas"
                      ></v-select>
                    </v-col>
                    <v-col cols="2">
                      <v-select
                        v-model="pertemuan"
                        :items="pert"
                        label="Pilih Pertemuan"
                        ref="pertemuan"
                      ></v-select>
                    </v-col>
                    <v-col cols="2">
                      <v-select
                        v-model="semester"
                        :items="sem"
                        label="Pilih Semester"
                        ref="semester"
                      ></v-select>
                    </v-col>
                    <v-col cols="2">
                      <v-select
                        v-model="thn_akademik"
                        :items="tahuns"
                        label="Tahun Akademik"
                        ref="thn_akademik"
                      ></v-select>
                    </v-col>
                    <v-col cols="2">
                      <v-btn
                        color="primary" 
                        dark class="mb-2" 
                        @click="getMatkulByNamaKelas()" 
                      >Pilih</v-btn> 
                    </v-col>
                </v-row>
                <v-row v-for="(item, index) in defaultItem" :key="index">
                <v-col cols="1">
                    <v-text-field
                    v-model="user.id"
                    disabled
                    label="ID"
                    ></v-text-field>
                  </v-col>
                <v-col cols="2">
                    <v-text-field
                    v-model="item.mahasiswa.nim"
                    label="NIM"
                    disabled
                    ></v-text-field>
                  </v-col>
                <v-col cols="2">
                    <v-text-field
                    v-model="item.mahasiswa.nama"
                    label="Nama"
                    disabled
                    ></v-text-field>
                  </v-col>
                  <v-col cols="1">
                    <v-text-field
                    v-model="pertemuan"
                    label="Pertemuan"
                    disabled
                    ></v-text-field>
                  </v-col>
                  <v-col cols="1">
                    <v-text-field
                    v-model="semester"
                    label="Semester"
                    disabled
                    ></v-text-field>
                  </v-col>
                  <v-col cols="1">
                    <v-text-field
                    v-model="thn_akademik"
                    label="Tahun Akademin"
                    disabled
                    ></v-text-field>
                  </v-col>
                  <v-col cols="2">
                    <v-text-field 
                    color="success"
                    :autofocus="true" 
                    :rules="pretestRules"
                    v-model="item.pretest" 
                    label="Pretest*"
                    required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="2">
                    <v-text-field
                    color="success"
                    :rules="laporanRules"
                    v-model="item.laporan" 
                    label="Laporan**"
                    required
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="6">
                    <p class="caption text-sm-left">*Bobot pretest 40%, **Bobot laporan 60%</p>
                  </v-col>
                  <v-spacer></v-spacer>
                  <v-col cols="2">
                    <v-btn
                      color="primary" 
                      @click="save()" 
                    >Save</v-btn>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
          </v-card>
        </v-dialog>
        <!-- edit item -->
        <v-dialog v-model="dialogEdit" max-width="500px">
          <template v-slot:activator="{ on }" v-on="on">
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-text-field
                      v-model="matkul"
                      label="Mahasiswa"
                      disabled
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <v-text-field
                      v-model="editedItem.semester"
                      label="Semester"
                      disabled
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <v-select
                      v-model="editedItem.thn_akademik"
                      :items="tahuns"
                      label="Tahun Akademik"
                    ></v-select>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <v-select
                      v-model="editedItem.pertemuan"
                      :items="pert"
                      label="Pilih Pertemuan"
                    ></v-select>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <v-text-field 
                    v-model="editedItem.pretest" 
                    label="Pretest (40%)"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <v-text-field 
                    v-model="editedItem.laporan" 
                    label="Laporan (60%)"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
      <br>
    <!-- TABLE DATA -->    
    <v-data-table
      :headers="headers"
      :items="nilais.data"
      :search="search"
      class="elevation-1"
      v-if="displayNilai == true"
    >
      <template v-slot:items="props">
          <td style="display:none;" >{{ props.item.id }}</td>
          <td class="text-xs-left">{{ props.item.matkul.mahasiswa.nama }}</td>
          <td class="text-xs-left">{{ props.item.matkul.nama_matkul }}</td>
          <td class="text-xs-left">{{ props.item.semester }}</td>
          <td class="text-xs-left">{{ props.item.thn_akademik }}</td>
          <td class="text-xs-left">{{ props.item.pertemuan }}</td>
          <td class="text-xs-left">{{ props.item.pretest }}</td>
          <td class="text-xs-left">{{ props.item.laporan }}</td>
          <td class="text-xs-left">{{ props.item.nilai_total }}</td>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>  
    </v-data-table>
    
    <v-data-table
    :headers="headersReport"
    :items="datas.data"
    :search="search"
    :single-expand="true"
    :expanded.sync="expanded"
    item-key="id"
    show-expand
    class="elevation-1"
    v-if="displayReport == true"
    >
    <template v-slot:expanded-item="{ headers,item }">
      <td :colspan="headers.length">
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th>No.</th>
                <th>Pertemuan</th>
                <th>Semseter</th>
                <th>Tahun Akademik</th>
                <th>Nilai Pretest</th>
                <th>Nilai Laporan</th>
                <th>Nilai Total</th>
              </tr>
            </thead>
            <tbody>
            <tr v-for="(items, index) in item.nilai" :key="index" :style="{backgroundColor: (items.nilai_total < 60 ? '#FA7777' : 'transparent' ) }">
                <td class="text-xs-right">{{ index+1 }}</td>
                <td class="text-xs-center">{{ items.pertemuan }}</td>
                <td class="text-xs-center">{{ items.semester }}</td>
                <td class="text-xs-center">{{ items.thn_akademik }}</td>
                <td class="text-xs-center">{{ items.pretest }}</td>
                <td class="text-xs-center">{{ items.laporan }}</td>
                <td class="text-xs-center">{{ items.nilai_total }}</td>
            </tr>
            <tr>
              <th class="title" :colspan="6">Rerata Nilai Praktikum</th>
              <th class="title">{{ rerata(item) }}</th>
            </tr>
            <td :colspan="7" class="text-right">
              <p class="text-right text--secondary">
                *Kolom Warna Merah Berarti Nilai Kurang Dari KKM.
              </p>    
            </td>
            </tbody>
          </template>
        </v-simple-table>
      </td>
    </template>
    </v-data-table>
    <template v-if="displayNilai == false && displayReport == false" >
      <v-alert
        dense
        outlined
        type="error"
      >Silahkan Pilih <strong>Matakuliah</strong> dan <strong>Kelas</strong> Yang Anda Ambil
      </v-alert>
    </template>
    </v-container>
  </div>
</template>
<script>
// @ is an alias to /src
// import NavBarAdmin from '@/components/navbar/NavBarAdmin.vue'
import axios from 'axios';
import Cookies from 'js-cookie';
import moment from 'moment';
// const basedurl = 'http://localhost:8000'
const basedurl = 'https://backend.ojocekel.com'

export default {
  name: 'HomeAdmin',
  data: () => ({
      search:'',
      displayNilai: false,
      displayReport: false,
      btnDisable: false,
      user : {},
      edit: true,
      dialogEdit: false,
      dialogAdd: false,
      headers: [
        { text: 'Mahasiswa', value: 'matkul.mahasiswa.nama',sortable: true},
        { text: 'Matkul', value: 'matkul.nama_matkul',sortable: true},
        { text: 'Kelas', value: 'matkul.kelas',sortable: true},
        { text: 'Semester', value: 'semester'},
        { text: 'Semester', value: 'thn_akademik'},
        { text: 'Pertemuan', value: 'pertemuan'},
        { text: 'Pretest', value: 'pretest'},
        { text: 'Laporan', value: 'laporan'},
        { text: 'Nilai', value: 'nilai_total' },
        { text: 'Actions', value: 'actions' },
      ],
      datas: [],
      nilai: [],
      expanded: [],
      tahuns: [],
      headersReport: [
        { text: "NIM", value: "mahasiswa.nim"},
        { text: "Nama", value: "mahasiswa.nama"},
        { text: "Mata Kuliah", value: "nama_matkul"},
        { text: "Kelas", value: "kelas"},
        { text: "Semester", value: "semester"},
      ],
      nilais: [],
      mahasiswas: [],
      matkuls: [],
      listMH: [],
      listMK: [],
      mk: [],
      listKLS: [],
      kelasList: [],
      kodeList: [],
      listNAMA: [],
      sem: ['Genap', 'Ganjil'],
      semester: "",
      pertemuan: 0,
      thn_akademik: "",
      kelas:"",
      kode:"",
      mahasiswa: "",
      matkul: "",
      kelasFil: "",
      kodeFil: "",
      id_matkul: "",
      kelasEdit: "",
      editedIndex: -1,
      items:[],
      pert: [1,2,3,4,5,6,7,8,9,10,11,12,13,14],
      editedItem: {
        id: '',
        id_mahasiswa: 0,
        id_matkul: 0,
        pertemuan: 0,
        semester: "",
        thn_akademik: "",
        pretest: 0,
        laporan: 0,
      }, 
      defaultItem:[{
        id: '',
        id_admin : 0,
        mahasiswa: 0,
        id_matkul: 0,
        semester: "",
        thn_akademik: "",
        pertemuan: 0,
        pretest: 0,
        laporan: 0,
      }],
      pretestRules: [
            v => !!v || "Nilai Default 0",
        ],
      laporanRules: [
            v => !!v || "Nilai Default 0",
        ],
    }),

    computed: {
      formTitle () {
        return this.dialogAdd === true ? 'Tambahkan Nilai' : 'Edit Nilai'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.getMatkul();
      this.getUser();
      this.getMahasiswa();
    },

    mounted() {
      this.years();
    },

    methods: {
      async getNilai () {
        const response = await axios.get(basedurl + '/nilai/get-nilai/username/'+ Cookies.get('user'))
        this.nilais = response.data;
        this.displayNilai = true;
        this.displayReport = false;
      },
      async getNilaiByDay () {
        this.matkuls.forEach((kode) => {
          if(this.kode == kode.kd_matkul+ '-' +kode.nama_matkul){
            this.kode = kode.kd_matkul
          }
        });
        try{
          const nilai = await axios.get(basedurl + '/nilai/get-nilai/kode/' +this.kode+ '/kelas/' +this.kelas+ '/admin-username/' + Cookies.get('user'))
          this.nilais = nilai.data;
          this.displayNilai = true;
          this.displayReport = false;
          this.kode = ''
          this.kelas = ''
        } catch (err){
          if(err.response.status === 404){
            console.log('belum ada paramter')
          }
        }
      },

      async getNilaiByDayEdit () {
        this.matkuls.forEach((matkul) => {
          if(matkul.id == this.editedItem.id_matkul){
            this.matkul = matkul.kd_matkul;
          }
        });
        this.matkuls.forEach((kelasEdit) => {
          if(kelasEdit.id == this.editedItem.id_matkul){
            this.kelasEdit = kelasEdit.kelas;
          }
        });
        try{
          const nilai = await axios.get(basedurl + '/nilai/get-nilai/kode/' +this.matkul+ '/kelas/' +this.kelasEdit+ '/admin-username/' + Cookies.get('user'))
          this.nilais = nilai.data;
          this.displayNilai = true;
          this.displayReport = false;
          this.matkul = ''
          this.kelasEdit = ''
        } catch (err){
          if(err.response.status === 404){
            console.log('belum ada paramter')
          }
        }
      },

      async getReport () {
        this.matkuls.forEach((kodeFil) => {
          if(this.kodeFil == kodeFil.kd_matkul+ '-' +kodeFil.nama_matkul){
            this.kodeFil = kodeFil.kd_matkul;
          }
        });
        try{
          let res = await axios.get(basedurl + '/matkul/get-nilai/kode/' +this.kodeFil+ '/kelas/' +this.kelasFil);
          this.datas = res.data
          for(const iterator of res.data.data){
            this.nilai = iterator.nilai
          }
          this.displayReport = true;
          this.displayNilai = false;
          this.kelasFil = ''
          this.kodeFil = ''
        } catch (err){
          if (err.response.status === 404){
            alert("Anda Belum Memilih Matakuliah atau Kelas");
          }
        }
        
      },

      async getUser(){
        try{
            const response = await axios.get(basedurl + '/auth/user/' + Cookies.get('user'), {
            headers: {
              Authorization: 'Bearer ' + Cookies.get('token'),
            }
          })
          this.user = response.data
        } catch (err){
          if (err.response.status === 401) {
            alert("Mohon Login Ulang !!!");
            Cookies.remove('token');
            Cookies.remove('user');
            this.$router.push('/admin/login');
          }
        }
        
      },

      async getMatkul(){
        const mk = await axios.get(basedurl +'/matkul/get-matkul')
        this.matkuls = mk.data;

        this.matkuls.forEach((kode) => {
          this.listNAMA.push(kode.kd_matkul+ '-' +kode.nama_matkul);
        });

        this.matkuls.forEach((kodeFil) => {
          this.kodeList.push(kodeFil.kd_matkul+ '-' +kodeFil.nama_matkul);
        });

        this.matkuls.forEach((kelasFil) => {
          this.kelasList.push(kelasFil.kelas);
        });

        this.matkuls.forEach((kelas) => {
          this.listKLS.push(kelas.kelas);
        });
      },

      async getMahasiswa(){
        const mhs = await axios.get(basedurl +'/mahasiswa/get-mahasiswa')
        this.mahasiswas = mhs.data;
        this.mahasiswas.forEach((mahasiswa) => {
          this.listMH.push(mahasiswa.nama);
        });
      },

      async getNilaiByMatkul () {
        this.matkuls.forEach((kodeFil) => {
          if(this.kodeFil == kodeFil.kd_matkul+ '-' +kodeFil.nama_matkul){
            this.kodeFil = kodeFil.kd_matkul;
          }
        });
        try{
          const nilai = await axios.get(basedurl + '/nilai/get-nilai/kode/' +this.kodeFil+ '/kelas/' +this.kelasFil+ '/admin-username/' + Cookies.get('user'))
          this.nilais = nilai.data;
          this.displayNilai = true;
          this.displayReport = false;
          this.kelasFil = ''
          this.kodeFil = ''
        } catch (err){
          if(err.response.status === 404){
            alert("Anda Belum Memilih Matakuliah atau Kelas");
          }
        }
      },

      async getMatkulByNamaKelas(){
        this.matkuls.forEach((kode) => {
          if(this.kode == kode.kd_matkul+ '-' +kode.nama_matkul){
            this.kode = kode.kd_matkul
          }
        });
        const response = await axios.get(basedurl+'/matkul/get-matkul/kode/'+ this.kode +'/kelas/'+ this.kelas)
        this.defaultItem = response.data
        
      },

      editItem (item) {
        this.editedIndex = this.nilais.data.indexOf(item);
        this.editedItem = Object.assign({}, item);
        this.dialogEdit = true;

        this.matkuls.forEach((matkul) => {
          if(matkul.id == this.editedItem.id_matkul){
            this.matkul = matkul.mahasiswa.nim+' - '+matkul.mahasiswa.nama;
          }
        });
      },

      async deleteItem (item) {
        const response = this.nilais.data.indexOf(item)
        confirm('Apakah anda yakin untuk menghapus data ini?') && 
        await axios.delete(basedurl +'/nilai/delete-nilai/'+item.id)
        this.nilais.data = response.data
        this.getNilai();     
      },

      close () {
        this.dialogAdd = false
        this.dialogEdit = false
        this.thn_akademik = ""
        this.semester = ""
        this.pertemuan = ""
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      async save () {
        this.matkuls.forEach((matkul) => {
          if(this.matkul == matkul.mahasiswa.nim+' - '+matkul.mahasiswa.nama){
            this.editedItem.id_matkul = matkul.id
          }
        });

        if (this.editedIndex > -1) {
          console.log('edit data')
          console.log(this.editedItem)

          const response = await axios.put(basedurl +'/nilai/put-nilai/'+this.editedItem.id, this.editedItem)
          this.nilais = response.data
          this.getNilaiByDayEdit()
          this.close()

        } else {
          try{
            console.log('create data')
            console.log(this.defaultItem)
            for(const index of this.defaultItem){
              index.id_matkul = index.id
              index.id_admin = this.user.id
              index.semester = this.semester
              index.thn_akademik = this.thn_akademik
              index.pertemuan = this.pertemuan
              if(index.pretest == null || index.pretest == ''){
                index.pretest = 0;
              }if(index.laporan == null || index.laporan == ''){
                index.laporan = 0;
              }
              const response = await axios.post(basedurl +'/nilai/post-nilai', index)
              this.nilais = response.data
            }
            this.getNilaiByDay()
            this.close()
          } catch (err){
            console.log(err)
          }
          
        }
      },

      rerata(item) {
        var itemsTotal = 0;
        var subItems = item.nilai
        var subItemsTotal = 0;
        for(var key in subItems){
          var subItem = subItems[key];
          subItemsTotal = subItemsTotal + (subItem.nilai_total) / 14;
        }
        itemsTotal += subItemsTotal;
        return itemsTotal.toFixed(3);
      },

      years(){
        let iterator = 1999;
        let earlyYear = 1999;
        const currentYear = moment().year();
        while(iterator <= currentYear){
          earlyYear++
          this.tahuns.push(iterator +'/'+ earlyYear);
          iterator++;
        }
      },

      logout() {
            Cookies.remove('token')
            Cookies.remove('user')
            this.$router.push('/admin/login')
        }
    },
}
</script>
