
<template>
<div>
    <NavBarUser />
    <v-app id="inspire">
    <v-content>
        <v-container
        class="fill-height"
        fluid
        >
        <v-row
            align="center"
            justify="center"
        >
            <v-col
                cols="12"
                sm="8"
                md="4"
            ><v-card class="elevation-12">
                <v-toolbar
                    color="primary"
                    dark
                    flat
                ><v-toolbar-title>Login</v-toolbar-title>
                </v-toolbar>
            <v-card-text>
                <v-form>
                    <v-text-field
                        label="Username"
                        v-model="username"
                        prepend-icon="person"
                        type="text"
                        :rules="usernameRules"
                        required
                    ></v-text-field>

                    <v-text-field
                        label="Password"
                        v-model="password"
                        prepend-icon="lock"
                        type="password"
                        :rules="passwordRules"
                        required
                    ></v-text-field>
                </v-form>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click="doLogin()">Login</v-btn>      
                <v-spacer></v-spacer>
            </v-card-actions> 
            
            <v-card-actions>
                <v-spacer></v-spacer>
                      <p class="font-weight-regular">
                    <a href="/admin/register">Don't have an account?</a>
                </p> 
                <v-spacer></v-spacer>
            </v-card-actions>    
            </v-card>
            </v-col>
        </v-row>
    </v-container>
    </v-content>
    </v-app>
</div>
</template>
 
<script>
import axios from 'axios'
import Cookies from 'js-cookie'
import NavBarUser from '@/components/navbar/NavBarUser.vue'
const basedurl = 'https://backend.ojocekel.com'
// const basedurl = 'http://localhost:8000'


export default {
    name: 'Login',
    components: {
        NavBarUser
    },
    props: {
        source: String
    },
    data: () => ({
        drawer: null,
        snackbar:false,
        valid: true,
        username: "",
        usernameRules: [
            v => !!v || "harus di isi",
        ],
        password: "",
        passwordRules: [
            v => !!v || "harus di isi",
        ],
        result:null,
        error_message:""
    }),

    methods: {
        reset() {
            this.$refs.form.reset();
        },
        async doLogin() {
            try{
                const response = await axios.post(basedurl +"/auth/login", {
                    username:this.username,
                    password:this.password,
                })
                this.result = response.data;
                Cookies.set('user', this.username)
                Cookies.set('token', this.result.token)
                    if(this.result.token){
                        this.$router.push('/admin/dashboard')
                    }
            } catch (err){
                this.error_message=err.response.status;
                console.log(this.error_message);
                alert('Salah Username atau Password');
            }
        }
    },
};
</script>