<template>
<div>
    <NavBarUser/>
    <v-app id="inspire">
    <v-content>
        <v-container
        class="fill-height"
        fluid
        >
        <v-row
            align="center"
            justify="center"
        >
            <v-col
                cols="12"
                sm="8"
                md="4"
            >
            <v-card class="elevation-12">
                <v-toolbar
                    color="primary"
                    dark
                    flat
                >
                <v-toolbar-title>Register</v-toolbar-title>
                </v-toolbar>
            <v-card-text>
                <v-form>
                    <v-text-field
                        label="Nama"
                        v-model="nama"
                        prepend-icon="person"
                        type="text"
                        :rules="usernameRules"
                        required
                    ></v-text-field>

                    <v-text-field
                        label="Username"
                        v-model="username"
                        prepend-icon="person"
                        type="text"
                        :rules="usernameRules"
                        required
                    ></v-text-field>

                    <v-text-field
                        label="Password"
                        v-model="password"
                        prepend-icon="lock"
                        type="password"
                        :rules="passwordRules"
                        required
                    ></v-text-field>

                    <v-text-field
                        label="Konfirmasi Password"
                        v-model="password_confirmation"
                        prepend-icon="lock"
                        type="password"
                        :rules="passwordRules"
                        required
                    ></v-text-field>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="success" @click="register()" >Register</v-btn>      
                <v-spacer></v-spacer>
            </v-card-actions> 
            
            <v-card-actions>
                <v-spacer></v-spacer>
                    <p class="font-weight-regular">Already have an account?
                    <a href="/admin/login">Sign in here</a>
                </p> 
                <v-spacer></v-spacer>
            </v-card-actions>
            </v-card>
            </v-col>
        </v-row>
        </v-container>
    </v-content>
    </v-app>
</div>
</template>

<script>
import axios from 'axios'
import NavBarUser from '@/components/navbar/NavBarUser.vue'
const basedurl = 'https://backend.ojocekel.com'
// const basedurl = 'http://localhost:8000'


export default {
    components:{
        NavBarUser
    },
    props: {
        source: String
    },
    data: () => ({
        valid: true,
        username: '',
        nama: '',
        usernameRules: [
            v => !!v || ' is required',
        ],
        password: '',
        password_confirmation: '',
        passwordRules: [
            v => !!v || "Password is required",
        ],
        }),

        created () {
        },

        methods: {
            reset() {
                this.$refs.form.reset();
            },
            register() {
                axios.post(basedurl +"/auth/register", {
                    username:this.username,
                    nama:this.nama,
                    id_matkul:this.matkul,
                    password:this.password,
                    password_confirmation:this.password_confirmation,
                })
                .then(response => {
                    this.result = response.data;
                    if(this.result.admin){
                        this.$router.push({ name: "Login" });
                    }else{
                        this.error_message=response.data.status;
                        this.snackbar=true;
                    }
                })
                .catch(e => {   
                    if (e.response.status === 400) {
                        this.error_message=e.response.data.error;
                    }
                });
            }
        },
    }
</script>