<template>
    <div>
        <v-app-bar color="blue darken-4" dark>
        <v-toolbar-title>STMIK AKAKOM YOGYAKARTA</v-toolbar-title>

        <v-spacer></v-spacer>
        <v-menu left bottom>
                <template v-slot:activator="{ on }">
                    <span class="body" v-on="on">User</span>
                    <v-avatar v-on="on">
                        <v-icon size=40>mdi-account-circle</v-icon>
                    </v-avatar>
                </template>
 
                <v-list>
                    <v-list-item  to="/logout">
                        <v-list-item-action>
                            <v-icon>mdi-logout</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>Logout</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-menu>
        </v-app-bar>
    </div>
    
</template>