<template>
    <div>
        <v-app-bar color="blue darken-4" dark>
        <v-toolbar-title>
            <v-avatar >
                <img
                    src="../../assets/akakom.png"
                    alt="Akakom"
                >
            </v-avatar>
            STMIK AKAKOM YOGYAKARTA
        </v-toolbar-title>
        </v-app-bar>
    </div>
</template>