<template>
    <div>
        <v-app-bar color="blue darken-2" dark>
        <v-toolbar-title>
            <v-avatar >
                <img
                    src="../../assets/akakom.png"
                    alt="John"
                >
            </v-avatar>
            STMIK AKAKOM YOGYAKARTA
        </v-toolbar-title>

        <v-spacer></v-spacer>
        <div class="my-8">
            <v-text-field
                v-model="search"
                class="mx-4"
                flat
                hide-details
                append-icon="search"
                solo-inverted
            ></v-text-field>
        </div>
        <div class="my-2">
            <v-menu offset-y>
                <template v-slot:activator="{ on, attrs }">
                    <v-icon x-large v-on="on" v-bind="attrs">mdi-account-circle</v-icon>
                </template>
                <v-list>
                    <v-list-item>
                        <v-btn text @click="logout()">
                            <v-icon>mdi-logout</v-icon>Logout
                        </v-btn>
                    </v-list-item>
                </v-list>
            </v-menu>
        </div>
        </v-app-bar>
    </div>
</template>
<script>
import Cookies from 'js-cookie'
export default {
    props: {
      source: String,
    },
    data: () => ({
        search:'',
        drawer: null,
        result: null,
    }),
    methods: {
        logout() {
            Cookies.remove('token')
            Cookies.remove('user')
            this.$router.push('/admin/login')
        }
    }
}
</script>
